.datetime-config-row {
  display: flex;
  align-items: stretch;
  margin-bottom: 1em;
}

.datetime-label-col {
  background: #e8f3e2; /* light green */
  padding: 1em 0em 0em 0em;
  min-width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: bold;
  border-radius: 4px 0 0 4px;
}

.datetime-label {
	display:inline-flex;
}

.datetime-fields-col {
  background: #fff;
  padding: 1em;
  flex: 1;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.datetime-clock {
	min-width: 20em;
	display:inline-flex;
	border:0px;
	padding:5px;
}

.datetime-clock-label {
	background-color:#e8f3e2;
	display:inline-flex;
	width:30%;
	font-weight:bold;
	text-align:right;
	
	
}

.ntp-test-result { font-weight: bold; }
.ntp-test-success { color: green; }
.ntp-test-error   { color: red; }
.ntp-test-wait    { color: #333; }