/* css/sme-password.css */
.input-container {
    position: relative;
    display: inline-block;
}
.sme-password {
    padding-right: 5px; /* Ensure space for the toggle icon */
}
.toggle-password {
    position: absolute;
    right: 4px; /* Position it towards the right */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for exact centering */
    cursor: pointer;
    width: 20px; /* Set the width of the icon */
    height: 20px; /* Set the height of the icon */
}